<style>
    .fa-brands{
        padding: 3px;
    }
    .f-info-links{
        padding-left:9px;
    }
</style>
<footer style="display: flex; justify-content: center; background-color: aliceblue; margin-top: 600px;">
    <div class="f-info">
        <div class="f-info-socials" style="display: flex; justify-content: center;">
            <a href="https://www.facebook.com/" style="text-decoration: none; color: black;"><i class="fa-brands fa-facebook"></i></a>
            <a  href="https://www.instagram.com/" style="text-decoration: none; color: black;"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/somasekharPathina/" style="text-decoration: none; color: black;"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="brand" style="display: flex; justify-content: center;" >
        &copy;somasekhar's AddressBook</div>
        <div class="f-info-links" style="display: flex; justify-content: center;">
            <a href="#"  style="color: black;">privacy</a>
            <a href="#" style="color: black;">Terms</a>
        </div>
    </div>
</footer>